# Files and folders that are not included in release archives
# (GitHub "Download ZIP", release archives, git archive, Composer dist packages)

# Tests
/tests export-ignore
/phpunit.xml export-ignore
/.phpunit.cache export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/node_modules export-ignore

# Images (only used in the README on GitHub)
/images export-ignore

# Composer dependencies
/vendor export-ignore
