
#toggle-link {
    text-decoration: underline;
    display:inline-block;
}

#toggle-link:hover {
    text-decoration: none;
    cursor: pointer;
}

p.delete-info {
    background: #d8eafc;
    padding: 5px;
    color: #1e87f0;
}
