<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         defaultTestSuite="Unit"
         failOnRisky="true">
    <testsuites>
        <!-- fast tests without ProcessWire: composer test -->
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <!-- tests against the ProcessWire installation this module is installed in: composer test:integration -->
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>JkPublishPagesRules.php</file>
        </include>
    </source>
</phpunit>
